#navContainer{
    background-color: var(--color-2);
    width: 20%;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100vh;
    position:fixed;
}
#navContainer .buttonHome{
    margin-top: 5rem;
    color:var(--color-3);
    background-color: var(--color-1);
    padding-top: 0.25rem;
    width:75%;
    text-align:center;
}

#navContainer .othersButtonsContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    height:60%;
    margin-bottom: 5rem;
    color:var(--color-3);
}
#navContainer .othersButtons{
    color:var(--color-3);
    text-align:center;
    background-color: var(--color-1);
    padding-top: 0.25rem;
    width:115%;
}
#navContainer .othersButtons:hover, #navContainer .buttonHome:hover{
    color:var(--color-2);
}