.feed-outer-flex {
    display: flex;
    flex-direction: column; 
    align-items: center
}

.feed-container {
    width: 90%; 
    height: auto; 
    background-color: var(--color-2);
    margin-bottom: 1rem;
}

.feed-flex {
    display: flex; 
}

.feed-img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 3px;
    border: 5px solid var(--color-light);
    margin: 1rem;
}

.feed-title {
    font-weight: bold; 
    font-family: "Montserrat", sans-serif;
    color: var(--color-3);
    margin-top: 3.5rem;
    width: 35%;
}

.flex-category {
    display: flex; 
    justify-content: flex-end;
    width: 50%;
}

.flex-desc {
    display: flex; 
    justify-content: center;
}

.feed-desc {
    width: 95%; 
    border-top: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.desc-title {
    font-weight: bold; 
    font-family: "Montserrat", sans-serif;
    color: var(--color-3);
    width: 50%;
}

.desc-text {
    font-family: "Hind", sans-serif; 
    color: var(--color-3);
    padding-top: 1rem;
}