.filter-page {
    height: 100vh;
    overflow: hidden;
}

.filter-desc {
    margin-left: 20%; 
    width: 80%;
    height: 100vh; 
}

.filter-flex {
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.filter-top-flex {
    display: flex; 
    width: 100%; 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: space-around;

}

.filter-bottom-flex {
    display: flex; 
    width: 100%; 
    margin-left: 2.3rem;
    margin-bottom: 2rem;
    justify-content: space-around;
}

.flex-top-container {
    width: 22%; 
    height: 150px; 
    background-color: var(--color-2);
}

.flex-bottom-container {
    width: 30%; 
    height: 200px; 
    background-color: var(--color-1)
}

.flex-component-container {
    width: 100%; 
}