.container-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e79759;
}

.landing-container {
    width: 50%; 
    height: 300px; 
    background-color: #183650;
}

.landing-flex {
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    align-content: center;
}

.first-container-landing {
    width: 50%; 
    height: 299px; 
    border-right: 2px solid #e79759;
    text-align: center;
}
.second-container-landing {
    width: 50%; 
    height: 300px; 
    text-align: center;
}

.container-title {
    font-size: 2rem; 
    color: var(--color-3); 
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
}

.container-button {
    margin-top: 5rem;
    background: #e79759;
    cursor: pointer;
    border: none;
    width: 50%;
    height: 60px;
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
    color:  #183650;
    font-weight: 900;
}

@media (max-width: 575.98px) {
    .landing-container {
        width: 95%; 
    }

    .container-button {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .landing-container {
        width: 95%
    }
}

@media (min-width: 1200px) {
    .landing-container {
        width: 50%; 
    }
}