.container-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e79759;
}

.landing-container {
    width: 50%; 
    height: 300px; 
    background-color: #183650;
}

.landing-flex {
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    align-content: center;
}

.first-container-landing {
    width: 50%; 
    height: 299px; 
    border-right: 2px solid #e79759;
    text-align: center;
}
.second-container-landing {
    width: 50%; 
    height: 300px; 
    text-align: center;
}

.container-title {
    font-size: 2rem; 
    color: #e79759; 
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
}

.first-container-landing button, .second-container-landing button {
    margin-top: 5rem;
    background: #e79759;
    cursor: pointer;
    border: none;
    width: 40%;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
    color:  #183650;

}